<%- include("./partials/header") %> 

<h1 class="text-center">ALL POSTS</h1>

<% posts.forEach(post => { %> 
    <!-- Card -->
    <div class="card my-4">

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a><%= post.title %></a></h4>
            <small>By <strong><%= post.author.username %></strong></small>
            <small class="text-muted"> on <strong><%= post.date_formatted %></strong></small>
            <!-- Text -->
            <p class="card-text">
                <%= post.body.slice(0, 300) %>... <a href="/<%= post.author.username %>/posts/<%= post.slug %>">Read More</a>
            </p>
            

        </div>

    </div>
    <!-- Card -->
<% }) %> 


<%- include("./partials/footer") %> 