<%- include("./partials/header") %>

<h1>PROFILE</h1>

<p><strong>First Name: </strong><%= user.first_name %></p>
<p><strong>Last Name: </strong><%= user.last_name %></p>
<p><strong>Username: </strong><%= user.username %></p>
<p><strong>Age: </strong><%= user.age %></p>
<p><strong>Email: </strong><%= user.email %></p>
<p><strong>Bio: </strong><%= user.bio %></p>

<% if (user.username === loggedUser.username) { %>
    <a href="/<%= loggedUser.username %>/profile/edit" class="btn btn-primary">EDIT PROFILE</a>
    <a href="/<%= loggedUser.username %>/posts/create" class="btn btn-primary">ADD POST</a>
<% } %> 

<%- include("./partials/footer") %>